// FONT
$color-1:#3987FD;
$color-2:#ffffff;
$color-3:#000000;
$color-4:#f6ebeb;
$color-5: #ff8000;

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style-type: none;
      text-decoration: none;
}

html {
      font-size: 62.5%;
}

body {
      font-size: 1.6rem;
      font-family: Arial, Helvetica, sans-serif;
      height: 100vh;
}

 i {
      color: $color-1;
 }

.App {
      display: grid;
      grid-template-areas:
      "header"
      "main"
      "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 35rem 1fr 15rem;
      height: 100vh;
      max-width: 140rem;
      margin: 0 auto;
      
      .header {
            grid-area: header;
      }

      .main {
            grid-area: main;
      }
      
      .footer {
            grid-area: footer;
      }
}